
.container {
    width: 100%;
    max-width: 700px;
    padding: 40px;
    border-radius: 1rem;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333333;
  }
  
  p {
    font-size: 1.25rem;
    font-weight: 500;
    color: #777777;
    margin-top: 1rem;
  }
  
  form {
    margin-top: 2rem;
    width: 100%;
    max-width: 400px;
  }
  
  label {
    font-size: 1.25rem;
    font-weight: 500;
    color: #333333;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: transparent;
  }
  
  .checkbox-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 2rem;
  }
  
  button {
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .primary-button {
    padding: 1rem 2rem;
    background-color: #6f42c1; /* Nice purple color */
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .primary-button:hover,
  .primary-button:active {
    transform: scale(1.01);
    background-color: #5f3ccc;
  }
  
  .signup-button {
    font-weight: 500;
    font-size: 1.25rem;
    color: #333333; 
    cursor: pointer;
    margin-left: 0.5rem;
    border: 2px solid #333333; 
    border-radius: 1rem;
    background-color: transparent;
  }
  
  .signup-button:hover {
    color: #ffffff; 
    background-color: #333333; 
  }
  
  .forgot-password {
    font-weight: 500;
    font-size: 1.25rem;
    color: #777777; 
    cursor: pointer;
    margin-left: 0.5rem;
    border-radius: 1rem;
    background-color: transparent;
  }
  
  .forgot-password:hover {
    color: #333333; 
  }
  